.sidebar{
    position: absolute;
    z-index: 1;
    width: 200px;
    height: 100%;
    left: 0px;
    top: 0px;
    
    background: #000000;
}
.logo{
    width: 150px;
    margin-left: 20px;
    margin-top: 30px;
}
.menu{
    background-color: black;
    margin-left: 20px;
    font-size: 25px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}
.menu p{
    margin-bottom: -20px;
}
.menu a{
    text-decoration: none;
    color: white;
}
#current-page{
    color: #00E09D;
}
.content{
    padding-left: 230px;
    overflow: hidden;
}
#introduction{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
#today{
    margin-top: -20px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 30px;
}
#current-time{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 70px;
    color: #00E09D;
    margin-top: -20px;
}
.total-people{
    font-family: 'Roboto', sans-serif;
    margin-top: -15px;
    margin-left: 200px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 16px 4px rgba(190, 190, 190, 0.31);
    width: 300px;
    height: 180px;
    object-fit: contain;
}
.total-people p{
    margin-top: 10px;
    margin-left: 15px;
    font-size: 30px;
    width: 200px;
}
.total-people h1{
    font-size: 50px;
    margin-top: -70px;
    padding-left: 220px;
}

.average-people{
    font-family: 'Roboto', sans-serif;
    margin-top: -15px;
    margin-left: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 16px 4px rgba(190, 190, 190, 0.31);
    width: 300px;
    height: 180px;
    object-fit: contain;
}
.average-people p{
    margin-top: 10px;
    margin-left: 15px;
    font-size: 30px;
    width: 200px;
}
.average-people h1{
    font-size: 50px;
    margin-top: -35px;
    padding-left: 220px;
}
.top-items{
    display:flex;
}
#chart{
    width: 1070px;
    margin-top: 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 16px 4px rgba(190, 190, 190, 0.31);
}